.font-protest {
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.stretched-img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    margin: 0 auto;
}

.search-element, .category-element, .area-element {
  display: none;
}

