/*------------------------------------
Color Primary Override
------------------------------------*/
.alert-primary {
    color: #320084;
    background-color: #dfccff;
    border-color: #d2b7ff;
}

.alert-primary hr {
    border-top-color: #c29eff;
}

.alert-primary .alert-link {
    color: #1f0051;
}

.badge-primary {
    color: #fff;
    background-color: #6100ff;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
    color: #fff;
    background-color: #4d00cc;
}

.bg-primary {
    background-color: #6100ff !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #4d00cc !important;
}

.border-primary {
    border-color: #6100ff !important;
}

.btn-primary {
    color: #fff;
    background-color: #6100ff;
    border-color: #6100ff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #5300db;
    border-color: #4d00cc;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(97, 0, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #6100ff;
    border-color: #6100ff;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #4d00cc;
    border-color: #4700bc;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(97, 0, 255, 0.5);
}

.btn-outline-primary {
    color: #6100ff;
    background-color: transparent;
    border-color: #6100ff;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #6100ff;
    border-color: #6100ff;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(97, 0, 255, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #6100ff;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #6100ff;
    border-color: #6100ff;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(97, 0, 255, 0.5);
}

.list-group-item-primary {
    color: #320084;
    background-color: #d2b7ff;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #320084;
    background-color: #c29eff;
}

.list-group-item-primary.list-group-item-action.active {
    color: #fff;
    background-color: #320084;
    border-color: #320084;
}

.table-primary,
.table-primary > th,
.table-primary > td {
    background-color: #d2b7ff;
}

.table-hover .table-primary:hover {
    background-color: #c29eff;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
    background-color: #c29eff;
}

.text-primary {
    color: #6100ff !important;
}

a.text-primary:hover, a.text-primary:focus {
    color: #4d00cc !important;
}
