@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

/* General Utilites and Bootstrap Overrides */

body {
    font-weight: 400;
    font-style: normal;
}

body[data-font="fancy"], body[data-font="flat"] .switch-font {
    font-family: "Gloock", serif;
}

body[data-font="flat"], body[data-font="fancy"] .switch-font {
    font-family: serif;
}

.font-flat {
    font-family: serif;
}

textarea {
    resize: none;
}

input[disabled] {
    border: 0;
    border-radius: 0 !important;
    background-color: transparent !important;
}

a {
    text-decoration: none;
    color: inherit;
}

.logged-in-only {
    display: none !important;
}


.offcanvas {
    --bs-offcanvas-width: 300px;
}

.container-xs {
    width: min(700px, 100% - 3rem);
}

.line-height-sm {
    line-height: 1.2;
}

.nav-item {
    width: fit-content;
    width: -moz-fit-content;
}

.btn {
    --bs-btn-padding-y: .35rem;
    --bs-btn-padding-x: 1.7rem;
    border-radius: var(--bs-border-radius-xxl);
}

.tint-primary {
    filter: invert(30%) sepia(50%) saturate(3017%) hue-rotate(6deg) brightness(102%) contrast(103%);
}

.tint-danger {
    filter: invert(31%) sepia(77%) saturate(3016%) hue-rotate(341deg) brightness(85%) contrast(116%);
}

.tint-black {
    filter: invert(100%) saturate(0%);
}

.h-0 {
    font-size: clamp(1.5rem, 1.75rem + 2vw, 3rem);
}

.display-0 {
    font-size: clamp(3rem, 1.773rem + 4.145vw, 7.5rem);
}

.mb-6 {
    margin-bottom: 12rem;
}

.scale-on-hover:hover {
    transition: transform 200ms ease-in-out;
    transform: scale(1.03);
}

.truncate-one-line {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.w-fit {
    width: fit-content;
    width: -moz-fit-content;
}


@media (min-width: 992px) {

    /* Large */
    .border-lg-end {
        border-right: 1px solid rgba(0, 0, 0, 0.25) !important;
    }

    .rounded-lg-5 {
        border-radius: var(--bs-border-radius-xxl) !important;
    }
}

/* Background Grid & Stripe */

.background-grid {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    opacity: 0.15;
}

.background-grid-col {
    position: fixed;
    height: 100%;
    width: 1px;
    border-left: 1px dashed black;
}

.background-grid-row {
    position: fixed;
    width: 100%;
    height: 1px;
    border-top: 1px dashed black;
}

.background-stripe {
    position: fixed;
    background: transparent;
    background: linear-gradient(175deg, transparent 8%, rgba(142, 216, 250, 1) 24%, rgba(63, 191, 250, 1) 32%, rgba(142, 216, 250, 1) 40%, transparent 61%);
    background-repeat: no-repeat;
    background-size: 130% 130%;
    z-index: -1;
    width: 100vw;
    height: 150vh;
    animation: stripe 15s ease-in-out infinite;
}

@keyframes stripe {

    0%,
    50%,
    99% {
        transform: translateY(0%);
    }

    25%,
    75% {
        transform: translateY(15%);
    }
}

.recipe-image {
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

.review-score>img {
    width: 20px;
}

/* Header */

.logo>img {
    height: clamp(1.6rem, 1.85rem + 2vw, 3.1rem);
}

/* Recipe Card + Review Card*/

.recipe-card {
    container-type: inline-size;
}


.recipe-save,
.review-delete {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.1rem;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    z-index: 999;
}

.recipe-save {
    width: 48px;
    height: 48px;
    background-image: url("../img/heart_outline.png");
}

.review-delete {
    width: 35px;
    height: 35px;
    background-image: url("../img/bin.png");
    display: none;
}

.review-card[data-my-review="true"] .review-delete {
    display: block;
}

.recipe-card[data-favourite="true"] .recipe-save,
.recipe-save:hover {
    background-image: url("../img/heart_full.png");
}

@container (width > 25em) {

    .recipe-card .card {
        flex-direction: row;
    }

    .recipe-card>.card>.recipe-image {
        width: 35%;
        aspect-ratio: 1;
    }

    .recipe-card .card::before {
        width: 36px;
        height: 36px;
    }

    .recipe-card .card-text {
        justify-content: start !important;
        padding-left: 0.5rem;
        margin-bottom: 1.6rem;
    }  

    .recipe-card hr {
        display: none;
    }

    .recipe-card .card-title {
        text-align: start !important;
        margin-top: 1.5rem;
    }

}

/* Recipe Card Group */

.recipe-card-group {
    min-width: 38rem;
}

.recipe-card-group:nth-of-type(even)>div:first-of-type {
    order: 1;
}

/* Scroller Responsiveness */

@media (max-width: 768px) {
    /* Medium */

    .scroller {
        overflow-x: hidden !important;
        flex-direction: column;
        align-items: center;
        gap: 0 !important;
        margin: 0 auto;
    }

    .recipe-card-group {
        min-width: 18rem;
    }

    .recipe-card-group>div:first-of-type {
        flex-direction: column;
    }
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
    height: 11px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: hsla(0, 0%, 0%, 0.05);
    border-radius: 1rem;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: var(--clr-secondary);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #162435;
}

/* Search Bar Results */

.search-input:has(.search-result:nth-of-type(1)) {
    border-radius: var(--bs-border-radius-xxl) var(--bs-border-radius-xxl) 0 0 !important;
}

.search-results {
    box-sizing: content-box;
    transform: translateX(-1px);
    z-index: 999;
}

.search-results:has(.search-result:nth-of-type(1)) {
    display: block !important;
}

.search-results>.search-result:last-of-type {
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.search-result:hover {
    background-color: rgba(0, 0, 0, 0.05)
}

.search-result_image {
    width: 76px;
}

.search-result[data-type="recipe"] .search-result-title {
    color: rgb(var(--bs-black-rgb)) !important;
}

.search-result[data-type="category"] .search-result-title {
    color: rgb(var(--bs-success-rgb)) !important;
}

.search-result[data-type="area"] .search-result-title {
    color: rgb(var(--bs-info-rgb)) !important;
}

.search-result[data-type="ingredient"] .search-result-title {
    color: rgb(var(--bs-danger-rgb)) !important;
}


/* Registration Form */

.line {
    height: 7px;
    border: 1px solid var(--clr-primary);
}

label:has(~ input[required])::after {
    content: '*';
}

input:not(.is-invalid, .is-valid) {
    border-color: black;
}

input[type="checkbox"]:checked {
    color: black;
}

.form-content {
    transition: transform 200ms ease-in;
}

.tag {
    --bs-btn-padding-y: .25rem;
    --bs-btn-padding-x: 1.3rem;
    width: fit-content;
    width: -moz-fit-content;
}

/* Profile Tabs */
.nav-pills li {
    z-index: 2;
}

.nav-pills button img {
    width: 24px;
}

.nav-pills button p {
    display: none;
}

.nav-pills .current-tab {
    position: absolute;
    background-color: rgba(170, 168, 168, 0.286);
    top: 0;
    left: 0;
    height: 60px;
    width: 24vw;
    z-index: 1;
    transition: all 500ms ease-in-out;
    transition-property: top, left;
}

.nav-pills:has(> li:nth-of-type(1) button.active) .current-tab {
    left: 0;
}

.nav-pills:has(> li:nth-of-type(2) button.active) .current-tab {
    left: 35%;
}

.nav-pills:has(> li:nth-of-type(3) button.active) .current-tab {
    left: 70%;
}

@media (min-width: 992px) {

    /* Large */
    .nav-pills button img {
        width: 0;
        visibility: hidden;
        transition: all 500ms;
    }

    .nav-pills button p {
        display: block;
    }

    .nav-pills button:hover img,
    .nav-pills button.active img {
        visibility: visible !important;
        width: 100%;
    }

    .nav-pills .current-tab {
        transform: none;
        width: 100%;
        left: 0 !important;
    }

    .nav-pills:has(> li:nth-of-type(1) button.active) .current-tab {
        top: 0;
    }

    .nav-pills:has(> li:nth-of-type(2) button.active) .current-tab {
        top: 35.5%;
    }

    .nav-pills:has(> li:nth-of-type(3) button.active) .current-tab {
        top: 71%;
    }

}


/* Reviews Edit */
.editable:not([disabled])~.save-button {
    display: block !important;
}

.save-button:hover {
    background-color: var(--clr-secondary) !important;
}

.editable:not([disabled])~.edit-button {
    display: none !important;
}

.editable:not([disabled])~.visible-on-edit {
    display: block !important;
}